<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disassembler</title>
</head>
<body>
    <strong><p>{{ .CurrentInstruction }}</p></strong>
    {{ range .NextInstructions }}
        <p>{{ . }}</p>
    {{ end }}
    <h1>CPU state</h1>
    <p>{{ .CpuState }}</p>
    <h1>Memory dump</h1>
    <h2>Zero page</h2>
    <p>
    {{ range $addr, $data := .MemoryDump.ZeroPage }}
        [{{ printf "%.04X" $addr }}] {{ $data }} <br>
    {{ end }}
    </p>
    <h2>Stack</h2>
    <p>
    {{ range $addr, $data := .MemoryDump.Stack }}
        [{{ printf "%.04X" $addr }}] {{ $data }} <br>
    {{ end }}
    </p>
    <button onClick="window.location.reload();">Next</button>
</body>
</html>